.content{
    height:640px;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:20px;
    padding:16px;
}

.content .backBtn button{
    float: left;
    margin:12px;
}

.content .addBtn button{
    float: right;
    margin:12px;
}

.content .innerContent{
    background-color: rgb(206, 200, 200);
    border-radius: 20px;
    height: 80%;
    margin:12px;
    padding:12px;
}

